.container{
    background-color: #2c3e50;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
}
.button{
    background-color: #00b894;
    color: white;
    padding: 15px 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
 }