.container {
    padding: 40px;
    background-color: #1a1a1a;
    min-height: 100vh;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
    border-bottom: 2px solid #3d195b;
    padding-bottom: 20px;
}
.playerSearch {
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid #555;
    background-color: #242424;
    color: white;
    width: 300px;
    outline: none;
    transition: border-color 0.3s;
}
.playerSearch:focus {
    border-color: #00ff87;
}
.yellowCard {
    color: #f1c40f;
    font-weight: bold;
}

.redCard {
    color: #e74c3c;
    font-weight: bold;
}

.noResults {
    text-align: center;
    padding: 40px !important;
    color: #888;
    font-style: italic;
}
.modalOverlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7); /* Fondo oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: #222;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid #00ff87;
}

.tableWrapper {
    background-color: #242424;
    border-radius: 8px;
    overflow: auto;
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    min-width: 800px;
}


.table th, .table td {
    padding: 15px 20px;
    border-bottom: 1px solid #333;
}

.table th {
    background-color: #00b894;
    color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.playerName {
    font-weight: bold;
    color: white;
}

.table tr:hover {
    background-color: #2a2a2a;
}